.station-card-wrapper {
    font-size: 2rem;
    padding: 2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.station-card-number {
    font-size: 7.5vw;
    font-weight: 700;
}

.station-card-icon-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50%;
}

.station-card-name {
    font-size: 3vw;
}

.station-card-title {
    margin: 0 auto;
    max-width: 38vw;
    padding: 2vw;
    font-size: 3vw;
}

.next-slide-card{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: none !important;
}

.station-card-icon {
    height: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.plug {
    background-image: url(/src/assets/img/plug.webp);
}

.Ended {
    background-image: url(/src/assets/img/car.webp);
}

.Unavailable {
    background-image: url(/src/assets/img/error.webp);
    filter: grayscale(95%);
}

.Alarm {
    background-image: url(/src/assets/img/error.webp);
}

.AuthorizedNotPluggedIn {
    background-image: url(/src/assets/img/success.webp);
}