.current-charging-card-wrapper{
    flex: 1;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

.current-charging-card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
}
.current-charging-card-header{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25%;
}

.current-charging-card-header .station-block{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-charging-card-header .icon-block{
    height: 80%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
}
.icon-block .icon-block-name{
    text-align: center;
    font-size: 2vw;
    font-weight: 600;
}
.current-charging-card-body{
    width: 100%;
    flex: 6;
}

.station-card-icon-wrapper{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.current-charging-card-footer{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
}

.current-charging-card-description{
    display: flex;
    flex: 1;
    justify-content: center;
    font-weight: 400;
    font-size: 2.25vw;
    gap: 2vw;
}

.current-charging-card-description .charging-card-description-block-bold{
    font-weight: 700;
}

.current-charging-card-info{
    display: flex;
    padding: 2vw;
}

.current-charging-card-info .article-title{
    font-size: 3vw;
    font-weight: 700;
    margin: 0;
    padding: 1.5vw 1vw;
}

.current-charging-card-info .article-description{
    font-size: 2vw;
}