.make-sure-page-wrapper{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5vw;
}

.make-sure-page-wrapper .img-block{
    flex: 1;
    height: 100%;
    width: 100%;
    background-image: url(/src/assets/img/connector.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}